/* ------------------------------- */
/* FONTS */
/* ------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* -------------------------------- */
/* GLOBAL VARIABLES */
/* -------------------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}

/* NAVBAR */

.navbar{
    display:flex;
    padding-left: 400px;
}
.nvidia-nav-logo{
    height:50px;
    width: 55px;
}
.nav-box, .navlinks{
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    display: inline;
    padding:1rem;
}
.navlinks{
    margin-left: 20rem;
    width: 400px;
}
.navlinks-icons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* CAROUSEL */
.carousel-container{
    height: 80vh;
    width: 100%;
    background: black;
}