/* ------------------------------- */
/* FONTS */
/* ------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/* -------------------------------- */
/* GLOBAL VARIABLES */
/* -------------------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}

/* NAVBAR */

.navbar{
    display:flex;
    padding-left: 380px;
    font-size: 14px;
}
.nvidia-nav-logo{
    height:38px;
    width: 110px;
    margin-right: 20px;
}
.nav-box, .navlinks{
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    display: inline;
    padding:1rem;
}
.navlinks{
    margin-left: 20rem;
    width: 400px;
}
.navlinks-icons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* CAROUSEL */
.carousel-container{
    height: 80vh;
    width: 100%;
    background: black;
    display: flex;
    overflow-x:scroll;
    overflow-y: hidden;
    color:white;
}
/* hiding scrollbars */
.carousel-container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carousel-container::-webkit-scrollbar {
    display:none;
}
.carousel-1{
    height:100%;
    width:100%;
}
.carousel-text{
    height:100%;
    width: 60rem;
    position:relative;
    left:63rem;
    line-height: 3.2rem;
    padding-top: 12rem;
}
.carousel-1-text-h3{
    font-size: 25px;
}
.carousel-1-text-h1{
    font-size: 48px;
}
.carousel-1-text-p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 2rem;
}
.carousel-1-button{
    margin-top: 30px;
    padding:11px 16px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
    border-style: none;
    background-color: #76B900;
    color:white;
}